body {
    margin: 0;
    padding: 0;
}

#wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    border: 1px solid black;
}

#biaoti {
    height: auto;
    border-bottom: 1px solid black;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#title_page {
    text-align: center;
    font-size: 1.4em;
    font-family: "碳纤维中黑简体";
    color: #201e1e;
    font-weight: bold;
}

#fengmian {
    text-align: center;
}

#fengmian img {
    width: 120px;
    height: 170px;
    margin: 0.5rem;
    box-shadow: 4px 4px 5px rgb(0, 0, 0);
}

#flower {
    text-align: center;
    position: relative;
    border-top: 1px solid black;
}

#flower img {
    width: 45%;
}